<template>
  <header class="header">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <router-link :to="{name: 'Dashboard'}" class="header-nav-item-link">
            <font-awesome-icon icon="columns"/>
            <span>Dashboard</span>
          </router-link>
        </li>
        <li class="header-nav-item">
          <router-link :to="{name: 'Charts'}" class="header-nav-item-link">
            <font-awesome-icon icon="chart-bar"/>
            <span>Charts</span>
          </router-link>
        </li>
        <li class="header-nav-item">
          <router-link :to="{name: 'Users'}" class="header-nav-item-link">
            <font-awesome-icon icon="users"/>
            <span>Users</span>
          </router-link>
        </li>
        <li class="header-nav-item">
          <router-link :to="{name: 'Instances'}" class="header-nav-item-link">
            <font-awesome-icon icon="list"/>
            <span>Instances</span>
          </router-link>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <div class="header-username" v-if="user !== null">
        <font-awesome-icon icon="user"/>
        <span>{{ user.username }}</span>
      </div>
      <button type="button" class="header-signout" @click="loginOut">
        <font-awesome-icon icon="sign-out-alt"/>
        <span>Sign out</span>
      </button>
    </div>
  </header>
</template>

<script>
import {mapActions, mapGetters} from "vuex"
export default {
  name: "Navigation",
  computed: {
    ...mapGetters('users', ['user', 'token']),
  },
  methods: {
    ...mapActions('users', ['signOut']),
    loginOut() {
      this.signOut(this.token)
    }
  }
}
</script>