<template>
  <div class="pop-up">
    <div class="pop-up-wrapper">
      <div class="pop-up-header">
        <h2 class="pop-up-header-title">{{ popUpTitle }}</h2>
        <button class="pop-up-header-close" @click="$emit('closePopUp')">
          <font-awesome-icon icon="times"/>
        </button>
      </div>
      <div class="pop-up-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PopUp",
  emit: ['closePopUp'],
  props: {
    popUpTitle: {
      type: String,
      required: true
    }
  }
}
</script>