<template>
  <navigation></navigation>
  <div>Charts</div>
</template>

<script>
import Navigation from "@/components/Navigation";

export default {
  name: "ChartsPage",
  components: {Navigation}
}
</script>