<template>
  <navigation></navigation>
  <div class="instance">
    <pop-up
      v-if="isOpen"
      popUpTitle="Add new instance"
      buttonName="Add"
      @closePopUp="closePopUp"
    >
      <form class="pop-up-form" @submit.prevent="submitInstance">
        <label for="instance-name" class="pop-up-form-label">
          <span class="pop-up-form-label-name">Instance name:</span>
          <input
              id="instance-name"
              class="pop-up-form-label-input"
              type="text"
              v-model="instanceForm.instance">
        </label>
        <div class="button-submit-wrapper">
          <button type="submit" class="button-submit">Add</button>
        </div>
      </form>
    </pop-up>
    <div class="container">
      <div class="instance-wrapper">
        <div class="instance-title">Instances list</div>
        <button class="instance-add" v-if="user && user.role === 'admin'" @click="showPopUp">
          <font-awesome-icon icon="plus"/>
          <span>New instance</span>
        </button>
      </div>
      <table class="instance-table">
        <thead>
        <tr>
          <th>Instance name</th>
          <th>Instance controls</th>
        </tr>
        </thead>
        <tbody v-if="getInstancesList.length === 0" class="instance-table-empty">
          <tr>
            <td colspan="2">
              <div>No data</div>
            </td>
          </tr>
        </tbody>
        <tbody class="instance-table-data" v-else>
          <tr v-for="instance in getInstancesList" :key="instance._id">
            <td>{{ instance.instance }}</td>
            <td>
              <div class="instance-table-controls-wrapper">
                <button class="instance-table-controls" @click="deleteInstanceHandler(instance._id)">
                  <font-awesome-icon icon="trash-alt"/>
                  <span>Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import PopUp from "@/components/PopUp";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "InstancesPage",
  components: {Navigation, PopUp},
  data() {
    return {
      isOpen: false,
      instanceForm: {
        instance: ''
      },
    }
  },
  computed: {
    ...mapGetters('users', ['user']),
    ...mapGetters('instances', ['getInstancesList']),
  },
  methods: {
    ...mapActions('instances', ['addInstance', 'getInstances', 'deleteInstance']),
    showPopUp() {
      this.isOpen = true
    },
    closePopUp() {
      this.instanceForm.instance = ''
      this.isOpen = false
    },
    submitInstance() {
      this.addInstance(this.instanceForm)
      this.instanceForm.instance = ''
      this.isOpen = !this.isOpen
    },
    deleteInstanceHandler(instanceId) {
      this.deleteInstance(instanceId)
    }
  },
  mounted() {
    this.getInstances()
  }
}
</script>
