<template>
  <div class="auth">
    <div class="auth-bg">
      <img class="auth-bg-img" src="../assets/images/auth-bg.jpg" alt="Auth">
    </div>
    <div class="auth-wrapper">
      <h2 class="auth-title">Automation Metrics</h2>
      <form class="auth-form" @submit.prevent="submit">
        <div class="auth-input-wrapper">
          <input type="text" id="userName" class="auth-input" placeholder="User name" v-model="form.username">
        </div>
        <div class="auth-input-wrapper">
          <input type="password" id="password" class="auth-input" placeholder="Password" v-model="form.password">
        </div>
        <button type="submit" class="auth-btn">Sign in</button>
      </form>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
      }
    }
  },
  methods: {
    ...mapActions('users', ['signIn']),
    submit() {
      this.signIn(this.form)
    }
  }
}
</script>