<template>
  <navigation></navigation>
  <div class="users">
    <pop-up
        v-if="isOpen"
        popUpTitle="Add new user"
        @closePopUp="closePopUp"
    >
      <form class="pop-up-form" @submit.prevent="submitUser">
        <label for="user-name" class="pop-up-form-label">
          <span class="pop-up-form-label-name">Username:</span>
          <input
              id="user-name"
              class="pop-up-form-label-input"
              type="text"
              v-model="userInfo.username">
        </label>
        <label for="user-password" class="pop-up-form-label">
          <span class="pop-up-form-label-name">Password:</span>
          <input
              id="user-password"
              class="pop-up-form-label-input"
              type="password"
              v-model="userInfo.password">
        </label>
        <div class="pop-up-form-radio">
          <div class="pop-up-form-radio-title">Role:</div>
          <div class="pop-up-form-radio-wrapper">
            <label for="admin">Admin</label>
            <input type="radio" id="admin" value="admin" v-model="userInfo.role">
            <label for="user">User</label>
            <input type="radio" id="user" value="user" v-model="userInfo.role">
          </div>
        </div>
        <div class="button-submit-wrapper">
          <button type="submit" class="button-submit">Add</button>
        </div>
      </form>
    </pop-up>
    <div class="container">
      <div class="users-wrapper">
        <div class="users-title">Users list</div>
        <button class="users-add" v-if="user && user.role === 'admin'" @click="showPopUp">
          <font-awesome-icon icon="user-plus"/>
          <span>New user</span>
        </button>
      </div>
      <table class="users-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Controls</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="userInfo in usersList" :key="userInfo._id">
            <td>{{ userInfo.username }}</td>
            <td>{{ userInfo.role }}</td>
            <td>
              <button class="users-table-controls">
                <font-awesome-icon icon="edit"/>
                <span>Edit</span>
              </button>
              <button
                  class="users-table-controls"
                  v-if="user && user._id !== userInfo._id && user.role === 'admin'"
                  @click="deleteUserHandler(userInfo._id)"
              >
                <font-awesome-icon icon="trash-alt"/>
                <span>Delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation";
import PopUp from "@/components/PopUp";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "UsersPage",
  components: {Navigation, PopUp},
  data() {
    return {
      userInfo: {
        username: '',
        password: '',
        role: ''
      },
      isOpen: false
    }
  },
  computed: {
    ...mapGetters('users', ['usersList', 'user'])
  },
  methods: {
    ...mapActions('users', ['addUser', 'getUsersList', 'deleteUser']),
    log(item) {
      console.log(item)
    },
    showPopUp() {
      this.isOpen = true
    },
    closePopUp() {
      this.userInfo.username = ''
      this.userInfo.password = ''
      this.userInfo.role = ''
      this.isOpen = false
    },
    submitUser() {
      this.addUser(this.userInfo)
      this.userInfo.username = ''
      this.userInfo.password = ''
      this.userInfo.role = ''
      this.isOpen = false
    },
    deleteUserHandler(userId) {
      this.deleteUser(userId)
    }
  },
  mounted() {
    this.getUsersList()
  }
}
</script>