.instance {
  margin-top: 50px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &-form {
    margin-top: 30px;
    &-label-name {
      margin-right: 10px;
    }
    &-label-input {
      width: 300px;
      height: 28px;
      padding: 0 10px;
      border: 1px solid #b7b7b7;
      border-radius: 6px;
      &:focus {
        outline: none;
        border-color: #79B4B7;
      }
    }
  }
  &-add {
    height: 40px;
    background-color: #79B4B7;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    & span {
      margin-left: 5px;
    }
  }
  &-title {
    font-size: 32px;
    font-weight: 600;
    color: #1a1a1a;
  }
  &-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    & th, td {
      padding: 10px;
      text-align: left;
    }
    & thead {
      background-color: #6b6b6b;
      color: #fff;
    }
    &-empty {
      height: 300px;
      font-size: 24px;
      & tr td {
        text-align: center;
      }
    }
    &-data {
      & tr:nth-child(even) {
        background-color: #f1f1f1;
      }
      & td:first-child {
        text-transform: uppercase;
      }
    }
    &-controls {
      height: 20px;
      background: none;
      border: none;
      cursor: pointer;
      color: #79B4B7;
      & span {
        margin-left: 5px;
      }
    }
  }
}