.auth {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #6b6b6b;
  }
  &-wrapper {
    display: flex;
    height: 100%;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px 60px;
  }
  &-form {
    margin-top: 20px;
  }
  &-input {
    width: 370px;
    height: 46px;
    padding: 0 10px;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    &::placeholder {
      color: #9D9D9D;
    }
    &:focus {
      outline: none;
      border-color: #79B4B7;
    }
  }
  &-input-wrapper {
    margin: 20px 0;
  }
  &-btn {
    width: 370px;
    height: 46px;
    border: none;
    background-color: #79B4B7;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #619a9d;
    }
  }
  &-bg {
    width: 55%;
    &-img {
      width: 100%;
    }
  }
}