.header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #6b6b6b;
  font-size: 16px;
  padding: 0 30px;
  &-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &-nav-item {
    padding: 10px 0;
    margin-right: 30px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 0;
      border-bottom: 2px solid #fff;
      -webkit-transition: width .3s;
      transition: width .3s;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:hover {
      opacity: 1;
      &::after {
        width: 100%;
      }
    }
    &-link {
      color: #fff;
      opacity: 0.6;
      text-decoration: none;
      & span {
        margin-left: 10px;
      }
    }
    & .active {
      color: #fff;
      opacity: 1;
      font-weight: 500;
      &::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 2px solid #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
  }
  &-username {
    color: #fff;
    margin-right: 10px;
    padding: 0 10px;
    border-right: 1px solid #fff;
    & span {
      margin-left: 8px;
    }
  }
  &-signout {
    background: none;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    & span {
      margin-left: 8px;
    }
  }
}