.pop-up {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  top: 0;
  left: 0;
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    &-label {
      margin-bottom: 20px;
    }
    &-label-name {
      display: inline-block;
      min-width: 90px;
      margin-right: 10px;
    }
    &-label-input {
      width: 300px;
      height: 28px;
      padding: 0 10px;
      border: 1px solid #b7b7b7;
      border-radius: 6px;
      &:focus {
        outline: none;
        border-color: #79B4B7;
      }
    }
    &-radio {
      display: flex;
      align-items: center;
      &-title {
        min-width: 90px;
        margin-right: 10px;
      }
      &-wrapper {
        display: flex;
        align-items: center;
        & input {
          margin: 0 15px 0 5px;
        }
      }
    }
  }
  &-wrapper {
    width: 600px;
    background: #f2f2f2;
    border-radius: 10px;
    z-index: 7;
    padding: 20px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      color: #6b6b6b;
    }
    &-close {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #619a9d;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}