.users {
  margin-top: 50px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &-add {
    height: 40px;
    background-color: #79B4B7;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    & span {
      margin-left: 5px;
    }
  }
  &-title {
    font-size: 32px;
    font-weight: 600;
    color: #1a1a1a;
  }
  &-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    & th, td {
      padding: 10px;
      text-align: left;
    }
    & thead {
      background-color: #6b6b6b;
      color: #fff;
    }
    & tbody {
      & tr:nth-child(even) {
        background-color: #f1f1f1;
      }
    }
    &-controls {
      height: 20px;
      background: none;
      border: none;
      margin-right: 20px;
      cursor: pointer;
      color: #79B4B7;
      & span {
        margin-left: 5px;
      }
    }
  }
}